@page "/home"
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="align-content-center m-5">
        <p>
            “A imaginação é mais importante que o conhecimento. O conhecimento é limitado,
            enquanto a imaginação abraça o mundo inteiro,estimulando o progresso, e dando origem à evolução”
        </p>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


